.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255);
  z-index: 100;
}

.dashboard{
  width: 100%;
  
}

.hidden {
  display: none;
}


.USERQrcode-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));}

  .qr-grid {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: flex-start;
  }
  
  .QRCODE {
    width: 250px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
.Qrimage-container {
  display: flex;
  justify-content: center;
}

  .Qrimage-container img {
    width: 100%;
    height: auto;
  }

  .QRCODE-name{
    text-align: center;
    border-bottom: 1px solid #ccc;
    font-size: 25px;
  }
  
  .Qrcode-information-container {
    border-top: 1px solid #ccc;
    margin-top: 8px;
  }
  
  .Edit-QR-BUTTON-container {
    margin-top: 16px;
    display: flex;
    justify-content: space-around;
  }

  .EditQR-button{
    border: none;
    background-color: #4CAF50;
    color: white;
    padding:0.3rem 1rem ;
    border-radius: 5px;
  }

  .QRCODE-URL{
    text-align: center;
    color: #4CAF50;
    font-size: 0.9em;
    word-wrap: break-word;
    overflow-y: auto;
    height: 3em;
  }

  ::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: white;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color:#4CAF50;
    border-radius: 6px;
  }

.Qr-add-Button-container{
  align-items: center;
  display: flex;
  width: 250px;
  justify-content: center;
}

  .Add-QR-BUTTON-container{
    width: 3em;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
  }

  .Add-QR-BUTTON-container:hover{
    background-color: rgb(63, 155, 66);
    transition: background-color 0.3s;
  }

  .buttonadd-qr {
    font-size: 30px;  
    width: 100%;
  }


  .token-title {
    text-align: center;
    margin: 0;
    font-size: 15px;
  }

  .token-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 2em;
    align-items: center;
  }

  .token-div p {
    font-weight: bolder;
    margin: 0;
  }

  /* Estilos para dispositivos móviles */
@media screen and (max-width: 550px) {
  .Qr-add-Button-container {
    width: 250px; /* El mismo ancho que .QRCODE */
    display: flex;
    justify-content: center;
  }
  .qr-grid {
    display: flex;
    justify-content: center;
  }

}